@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-7xl font-lato text-gray-900 font-bold xl:text-8xl;
  }
  h2 {
    @apply text-4xl font-lato font-bold text-gray-900 xl:text-6xl leading-normal;
  }
  h3 {
    @apply text-3xl font-lato text-gray-900 xl:text-4xl leading-normal;
  }
  p,
  a {
    @apply font-lato text-gray-900 xl:text-xl;
  }
  p,
  li {
    @apply leading-8;
  }
  li {
    @apply list-disc;
  }
  .navLink {
    @apply flex flex-col items-center justify-center p-2 md:px-8 md:text-2xl;
  }
  .navHover {
    @apply border-b-4 border-transparent hover:border-blue-700 transition duration-300 ease-in-out hover:scale-105;
  }
  #blogtitle {
  }
  .cardtitle {
    font-size: clamp(2rem, 5vw, 3rem);
  }
  .blog h2 {
    font-size: clamp(1.5rem, 4vw, 2rem);
    @apply mt-8 capitalize;
  }
  .blog h3 {
    font-size: clamp(1.25rem, 3vw, 1.75rem);
    @apply mt-4 capitalize font-bold;
  }
  .blog a {
    @apply underline text-blue-800 font-bold;
  }
  .blog ul {
    @apply ml-8;
  }
  .blog pre {
    overflow-x: auto;
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
      "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
      "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier,
      monospace;
  }
}
