@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-bold text-gray-900 text-7xl font-lato xl:text-8xl;
  }
  h2 {
    @apply text-4xl font-bold leading-normal text-gray-900 font-lato xl:text-6xl;
  }
  h3 {
    @apply text-3xl leading-normal text-gray-900 font-lato xl:text-4xl;
  }
  h4 {
    @apply text-xl leading-normal text-gray-900 font-lato xl:text-4xl;
  }
  p,
  a {
    @apply text-gray-900 font-lato xl:text-xl;
  }
  p,
  li {
    @apply leading-8;
  }
  li {
    @apply list-disc;
  }
  .navLink {
    @apply flex flex-col items-center justify-center p-2 md:px-8 md:text-2xl;
  }
  nav a {
    @apply transition duration-300 ease-in-out hover:text-green-700 hover:scale-105;
  }
  .cardtitle {
    font-size: clamp(2rem, 5vw, 3rem);
  }
  .blog h2 {
    font-size: clamp(1.5rem, 4vw, 2rem);
    @apply mt-8 capitalize;
  }
  .blog h3 {
    font-size: clamp(1.25rem, 3vw, 1.75rem);
    @apply mt-4 font-bold capitalize;
  }
  .blog a {
    @apply font-bold text-blue-800 underline;
  }
  .blog ul {
    @apply ml-8;
  }
  .blog pre {
    overflow-x: auto;
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
      "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
      "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier,
      monospace;
  }
}
