---
import InnerBodyWrapper from '../layouts/InnerBodyWrapper.astro'
import MainHead from '../components/MainHead.astro'
---

<html lang="en">
<head>
      <MainHead />
</head>
<body>
<InnerBodyWrapper>
      <h1>Page Not Found</h1>
      <p>Not found</p>
</InnerBodyWrapper>
</body>
</html>