---
import MainHead from '../components/MainHead.astro'
import Nav from '../components/Nav.astro'
import Footer from '../components/Footer.astro'
import ProjectCard from '../components/ProjectCard.astro'
import Hero from '../components/Hero.astro'

interface MarkdownFrontmatter {
  publishDate: number;
}

// const projects = Astro.fetchContent('./project/*.md');
const projects = Astro.fetchContent<MarkdownFrontmatter>('./project/*.md')
  .filter(({ publishDate }) => !!publishDate)
  .sort((a, b) => new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf());

//bug prevents calling this just yet.
	// const blogposts = Astro.fetchContent<MarkdownFrontmatter>('./blogposts/*.md')
  // .filter(({ publishDate }) => !!publishDate)
  // .sort((a, b) => new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf());

const featuredProject = projects[0];

---

<html lang="en">
<head>
	<MainHead />
</head>
<body class="bg-gray-50">
	<Nav />
	<main class="grid gap-24 ">
		<Hero>
			<h1 class="text-2xl font-normal">The Portfolio of</h1>
			<h1 class="text-5xl font-extrabold">Aaron Hubbard</h1>
			<h2 class="text-3xl">Jamstack Developer</h2>
			<h3 class="text-xl">Building fast and functional things for the web</h3>
		</Hero>

		<section class="px-6 grid gap-8">
			<h2 class="font-extrabold">Selected Work</h2>
			<ProjectCard project={featuredProject} />			
		</section>

		<section class="px-6 grid gap-4">
			<h2 class="font-extrabold">About Me</h2>
			<p>
				Hi! I'm Aaron Hubbard, a family-man and web-developer based in Asheville, NC. By day, I'm an
				application administrator for NOAA's CLASS project. In my free-time, I'm learning more and
				more about making modern websites.
			</p>
			<p>To see some examples of my work, <a href="/projects">check out my projects</a>.</p>
			<p>
				If you want to hear me ramble about what I'm working on right now, check out my blog posts
			</p>
			<p>Drop me a line using the contact link.</p>
		</section>

		<section class="px-6 grid gap-4">
			<h2 class="font-extrabold">Blogposts</h2>
			<ul>
				blogposts will go here once <a class="underline" href="https://github.com/snowpackjs/astro/issues/1496">bug</a> is fixed. 
			</ul>
		</section>
</main>
<Footer />
   

</body>
</html>