---
import InnerBodyWrapper from '../layouts/InnerBodyWrapper.astro'
import MainHead from '../components/MainHead.astro'
import Debug from 'astro/debug'
import ProjectCard from '../components/ProjectCard.astro'
import Hero from '../components/Hero.astro'

interface ProjectMarkdownFrontmatter {
  title: string;
  client: string;
  publishDate: number;
  img: string;
  description: string;
  url: string;
  link: string;
  tags: Array<string>;
  astro: {
    headers: Array<string>;
    source: string;
    html: string;
  }
}

const projects = Astro.fetchContent<ProjectMarkdownFrontmatter>('./project/*.md')
  .filter(({ publishDate }) => !!publishDate)
  .sort((a, b) => new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf());
---
<html lang="en">
  <head>
    <MainHead title="All Projects | Aaron Hubbard" description="Learn about Aaon Hubbards's most recent projects" />
  </head>

<body>
    <InnerBodyWrapper>
      <Hero>
        <h1 class="font-extrabold">All Projects</h1>
      </Hero>
      <div class="wrapper grid gap-16 items-center justify-center px-6 pt-16 pb-4 bg-gray-200">
        <div class="grid gap-12 md:grid-cols-2 xl:grid-cols-3">
          {projects.map((project) => (
            <ProjectCard project={project} />
          ))}
        </div>
      </div>
    </InnerBodyWrapper>
</body>

</html>

