<nav class="p-4 md:px-12 md:py-8 pl-6 flex flex-wrap justify-between items-center shadow nav">
  <div class="flex flex-wrap h-12 md:h-16 items-stretch">
    <a href="/"> <img src="/self2.png" alt="company logo" class="h-12 md:h-16" /></a>
    <a class="navLink" href="/projects">Projects</a>
    <a class="navLink" href="/blogposts">Blogposts</a>
    <a class="navLink" href="mailto:aaron.kai.hubbard@gmail.com">Contact</a>
  </div>
  <div class="grid grid-flow-col gap-4 items-center py-2">
    <a href="https://www.github.com/aaronkai" target="_blank" rel="noreferrer">
      <img class="h-6" src="/GitHub-Mark-64px.png" alt="github logo" /></a
    >
    <a
      href="https://www.linkedin.com/in/aaron-hubbard/"
      target="_blank"
      rel="noreferrer"
      class= "filter brightness-0"
    >
      <img
        src="/LI-In-Bug.png"
        alt="linked in logo"
        class="h-6 filter grayscale"
      />
    </a>
  </div>
</nav>
