---
import Logo from '../components/Logo.astro'
import EmailIcon from '../components/EmailIcon.astro'
import GithubIcon from '../components/GitbubIcon.astro'
import LinkedInIcon from '../components/LinkedInIcon.astro'
---

<nav class="flex flex-col justify-between p-3 xs:flex-row">
  <div class="grid items-end grid-flow-col gap-6 justify-items-start">
    
    <a href="/"> 
      <Logo />
    </a>
    <a class="navHover" href="/projects">Projects</a>
    <a href="/blogposts">Blogposts</a>
  </div>
  <div class="grid items-end grid-cols-3 gap-3">
    <a href="mailto:aaron.kai.hubbard@gmail.com" >
      <EmailIcon />
    </a>
    <a href="https://www.github.com/aaronkai" >
      <GithubIcon />   
    </a>
    <a
      href="https://www.linkedin.com/in/aaron-hubbard/"
      target="_blank"
      rel="noreferrer"
    >
      <LinkedInIcon />
    </a>
  </div>
</nav>