<nav class="flex justify-between p-3">
  <div class="grid items-end grid-flow-col gap-6 justify-items-start">
    <a href="/"> 
      <img src="/logo.svg" alt="company logo" class="h-10 md:h-14 " />
    </a>
    <a href="/projects">Projects</a>
    <a href="/blogposts">Blogposts</a>
  </div>
  <div class="grid items-end grid-cols-3 gap-3">
    <a href="mailto:aaron.kai.hubbard@gmail.com" >
      <img class="h-6 " src="/envelope-solid.svg" alt="email icon" />
    </a>
    <a href="https://www.github.com/aaronkai" >
      <img class="h-6 " src="/GitHub-Mark-64px.png" alt="github logo" /></a
    >
    <a
      href="https://www.linkedin.com/in/aaron-hubbard/"
      target="_blank"
      rel="noreferrer"
    >
      <img
        src="/linkedin-brands.svg"
        alt="linked in logo"
        class="h-6 "
      />
    </a>
  </div>
</nav>

<!-- <style>
  a{
      @apply text-red-600 
  }
</style> -->