<nav class="p-4 md:px-12 md:py-8 pl-6 flex flex-wrap justify-between items-center shadow nav">
  <div class="flex flex-wrap h-12 md:h-16 items-stretch">
    <a class="w-12 md:w-16 navHover flex justify-center" href="/"> <img src="/self2.png" alt="company logo" class="h-10 md:h-14 " /></a>
    <a class="navLink navHover" href="/projects">Projects</a>
    <a class="navLink navHover" href="/blogposts">Blogposts</a>
    <a class="navLink navHover" href="mailto:aaron.kai.hubbard@gmail.com">Contact</a>
  </div>
  <div class="grid grid-flow-col gap-4 items-center py-2">
    <a href="https://www.github.com/aaronkai" class="h-12 w-12 flex flex-col items-center justify-center p-2 navHover">
      <img class="h-6 " src="/GitHub-Mark-64px.png" alt="github logo" /></a
    >
    <a
      href="https://www.linkedin.com/in/aaron-hubbard/"
      target="_blank"
      rel="noreferrer"
      class= " h-12 w-12 flex flex-col items-center justify-center p-2 navHover"
    >
      <img
        src="/LI-In-Bug.png"
        alt="linked in logo"
        class="h-6 filter grayscale  brightness-0"
      />
    </a>
  </div>
</nav>
